.dashboard-container {
    display: felx;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mat-app-background {
    background-color: #ff69b4 !important; /* Rosado bacano */
  }

  .dashboard-container {
    background-color: #ff69b4 !important;
}