
<!-- -----------------------------------SIDENAV--------------------- -->
<mat-sidenav-container class="main-container">
    <mat-sidenav #sidenav mode="side" opened class="sidebar">
      <div class="logo">Valu Luxury Brands</div>
      <mat-nav-list>
        <a routerLink="/dashboard/home" routerLinkActive="active-link">Dashboard</a>
        <a routerLink="/productos" routerLinkActive="active-link">Productos</a>
        <a routerLink="/dashboard/category" routerLinkActive="active-link">Categorías</a>
        <a routerLink="/usuarios" routerLinkActive="active-link">Maestro</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <!-- ------------------------------NAVBAR------------------------- -->
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="navbar">
        <button mat-icon-button (click)="sidenav.toggle()" class="hide-desktop">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="navbar-title">Sistema de Inventarios</span>
        <span class="spacer"></span>
        <button mat-icon-button>
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>account_circle</mat-icon>
        </button>
      </mat-toolbar>
  
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  



